html,
body {
    font-family: 'Segoe UI';
    text-transform: uppercase;
}

#scene {
    width: 600px;
    height: 600px;
    background-color: #aaf;
    overflow: hidden;
    margin: 16px auto;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .1), -2px 2px 4px rgba(0, 0, 0, .1);
}

#tree {
    position: absolute;
    display: block;
    width: 400px;
    bottom: 80px;
    left: 110px;
}

#ground {
    position: absolute;
    display: block;
    width: 600px;
    bottom: 0;
}

.apple , .Orange, .pum , .Fruit {
    position: absolute;
    top: 225px;
    left: 120px;
    width: 32px;
    height: auto;
    transition: top .5s ease;
}

#scoreboard {
    width: 400px;
    margin: 4px auto;
    padding: 0;
    background-color: #eaeaea;
}

#scoreboard:after {
    clear: both;
    display: block;
    content: " ";
}

#scoreboard li {
    list-style: none;
    box-sizing: border-box;
    width: 33%;
    padding: 4px;
    text-align: center;
    float: left;
}

span {
    font-weight: bold;
    color: #55f;
}
h1{
    text-align: center
}
nav{
    background: #fff;
    padding:40px 50px;
    border: solid 1px #ccc;
    border-radius:10;
    }
nav a{
    text-decoration:none;
    margin: 0 15px;
    font-size:1rm;
    font-family:arial;
    font-weight:bold;
    letter-spacing:1px; 
    position: relative;
    }
nav a::after{
    content: '';
    position: absolute;
    width:50%;
    height: 5px;
    background-image: linear-grdient(to right,#2aba4d,#12a2af);
    bottom:-10px;
    left:50%;
    transform: translateX(-50%);
    border-radius:25px;
    transition: .4s;  
}
    
nav a:hover::after{
    width:50%;
    opacity:1;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

